<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th> Nome </th>
      <th> Valor </th>
      <th> Restaurante </th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <% @products.each do |p| %>
      <th> <%= p.name %> </th>
      <th> <%= p.value %> </th>
      <th> <%= p.restaurant.name %> </th>
      </tr>
    <% end %>
  </tbody>
</table>